.EmployeeContainer {
    margin-left: 25px;
    text-align: center;

    &:first-of-type {
        display: flex;
        justify-content: center;
    }
    .EmployeeContainer {
        display: flex;
    }

    &__Employee {
        display: inline-block;
        margin: 10px 0;
        padding: 10px;
        cursor: pointer;
    }

    & &__Employee {
        display: flex;
        flex-direction: column;
        position: relative;
        align-self: flex-start;
    }

    &__Employee__Name {
        position: relative;
        margin: 10px 5px;
        padding: 10px;
        background: rgb(255, 255, 255);
        border-radius: 4px;
        border: 1px solid rgb(230, 232, 233);
        &:hover {
           transform: scale(1.2)
        }
    }
}