.EmployeeContainer {
    margin-left: 25px;
    
    &__Employee {
        display: table;
        margin: 10px 0;
        padding: 10px;
        box-shadow: 0px 0px 2px 0px;
        background: linear-gradient(#f8f8f8, #fff);
        box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
        border-radius: 6px;
        cursor: pointer;

        &:hover {
            box-shadow: 0 8px 16px -8px rgba(0,0,0,1);
        }
    }
}
